'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open with HTML Sync'
      'command': 'html-sync:open'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'HTML Sync'
      'submenu': [
        {
          'label': 'Open'
          'command': 'html-sync:open'
        }
      ]
    ]
  }
]
