/**
 * The ui-variables file is provided by base themes provided by Atom.
 *
 * See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
 * for a full listing of what's available.
 */
@import "ui-variables";

atom-text-editor.html-sync {
    padding-top: 30px;
}

.html-sync.html-editor-view {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.html-sync.html-editor-view iframe {
    pointer-events: none;
}

.html-sync .button-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
    background-color: @base-background-color;
}

.html-sync .button-container button {
    float: right;
    margin-right: 10px;
}

.html-sync .button-container button:focus {
    border-color: @base-border-color;
    outline: 2px auto @base-border-color;
    box-shadow: none;
}

.html-sync .button-container button.sync {
    float: left;
    margin-left: 10px;
    margin-right: 0px;
}

#hidden-resize-handle {
    pointer-events: none;
    cursor: default;
}

#html-sync-hidden-pane {
    flex-grow: 0 !important;
}
