/**
 * The ui-variables file is provided by base themes provided by Atom.
 *
 * See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
 * for a full listing of what's available.
 */
@import "ui-variables";

.html-sync.html-editor-view {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.html-sync.html-editor-view iframe {
    pointer-events: none;
}

#hidden-resize-handle {
    pointer-events: none;
    cursor: default;
}

#html-sync-hidden-pane {
    flex-grow: 0 !important;
}
